.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.cut-words {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}

.project__container {
    border: 2px solid rgb(100,100,100);
    border-radius: 3px;
    height: 350px;
    max-height: 350px;
}

.project__image {
    width: 100%;
    height: 200px;
}

.project__title {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(180,180,180);
}

.project__description {
    max-height: 90px;
}



/****SHOW PROJECT******/
.showProject__image{
    margin-bottom: 50px;
}

.showProject__image{
	max-width:500px;
	max-height:500px
}

.showProject__details--objectif{
    margin-bottom: 50px;
}

.showProject__title{
    margin: 50px auto 10px;
}

.showProject__resume{
    margin-bottom: 50px;
}

.showProject__description{
    margin-top: 50px;
}

.showProject_donations {
    margin-top: 25px;
}

.showProject__donationComment {
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(240,240,240);
}

.showProject__donationValue {
    font-size: 16px;
    font-weight: bold;
}

.showProject__details{
    margin-bottom: 50px;
}


/****SHOW USER ****/
.showUser__image img{
	max-width:300px;
	max-height:300px
}



/***** SURCHARGE BOOTSTRAP ******/
.glyphicon{
	vertical-align: middle;
}
